@use "colors" as *;
@use "variables" as *;

#generateBtn {
  background-color: $accentClr;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  color: $primaryClr;
  font-size: 1rem;
  font-family: $fontFam;
  transition: all 0.1s ease-in;

  &:active {
    filter: brightness(1.3);
    scale: 0.927;
  }
}

.checkboxesContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: $smallGap;
  margin-top: $mediumGap;

  .checkboxes {
    display: flex;
    gap: $smallGap;

    span {
      opacity: 0.5;
      font-size: 0.8rem;
      margin-left: $verySmallGap;
      font-weight: 300;
    }
  }
}

.copyBtn {
  position: absolute;
  right: 10.5rem;
  top: 15px;
  opacity: 0.6;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-image: url("/src/assets/replicate.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 5px;

  &:hover {
    opacity: 1;
  }
}
