@use "./variables" as *;
@use "./colors" as *;

#passForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $smallGap;
  position: relative;

  .passIdentifier {
    display: none;
  }

  .textContainer {
    display: flex;
    justify-content: center;
    gap: $smallGap;

    .inputText {
      color: $secondaryClr;
      background-color: $primaryClr;
      font-size: 1.2rem;
      padding-left: $smallGap;
      width: min(70vw, 20rem);
      font-family: $fontFam;
      font-weight: 100;
    }
  }

  .passLengthContainer {
    display: flex;
    align-items: center;

    input[id="passLength"] {
      margin-right: $smallGap;
    }
  }
}
