@use "variables" as *;

@media (width < 750px) {
  #passForm {
    .textContainer {
      flex-direction: column;

      .inputText {
        padding: 1rem;
      }
    }
  }

  .copyBtn {
    right: 1rem;
    top: 17px;
  }
}
