@forward "./resets";
@forward "./buttons";
@forward "./mediaQueries";
@forward "./forms";
@use "colors" as *;
@use "variables" as *;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #1f1f1f 10%, #141414 100%);
  background-size: 500%;
  background-position: left;
  color: $primaryClr;
  font-family: $fontFam;
  animation: backgroundClr 30s ease alternate infinite;
}

@keyframes backgroundClr {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $mediumGap;

  .mainTitle {
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      line-height: 1.5;
    }

    h2 {
      font-size: clamp(0.7rem, 3vw, 1rem);
      color: rgba(240, 248, 255, 0.393);
    }
    span {
      color: $accentClr;
    }
  }
}
