@forward "./resets";
@forward "./buttons";
@forward "./mediaQueries";
@forward "./forms";
@use "colors" as *;
@use "variables" as *;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $secondaryClr;
  color: $primaryClr;
  font-family: $fontFam;
  position: relative;

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $mediumGap;

    .mainTitle {
      text-align: center;

      h1 {
        font-weight: 700;
        font-size: clamp(1.3rem, 5vw, 2.5rem);
        line-height: 1.5;
      }

      h2 {
        font-size: clamp(0.7rem, 3vw, 1rem);
        color: rgba(240, 248, 255, 0.393);
      }
      span {
        color: $accentClr;
      }
    }
  }

  .copyActive {
    position: absolute;
    padding: $smallGap;
    background-color: $accentClr;
    color: $primaryClr;
    border-radius: 1rem;
    top: -3rem;
    transition: 0.3s ease-in;
  }

  footer {
    position: absolute;
    bottom: 1.5rem;
    text-align: center;
    font-size: 0.7rem;
    opacity: 0.3;

    a {
      text-decoration: none;
      color: $accentClr;

      &:hover {
        filter: brightness(2);
      }
    }
  }
}
